UberData

In [7]:
# 2014 Uberdata_ processing

# Dependencies
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Path to 2014data CSV file 
Uber_trips_apr14 = Path("Raw_Data/uber-raw-data-apr14.csv")
Uber_trips_may14 = Path("Raw_Data/uber-raw-data-may14.csv")
Uber_trips_jun14 = Path("Raw_Data/uber-raw-data-jun14.csv")
Uber_trips_jul14 = Path("Raw_Data/uber-raw-data-jul14.csv")
Uber_trips_aug14 = Path("Raw_Data/uber-raw-data-aug14.csv")
Uber_trips_sep14 = Path("Raw_Data/uber-raw-data-sep14.csv")

Weather_data = Path("Raw_Data/Weather_data.csv")


# Read all CSV file into DataFrame
df_apr14 = pd.read_csv(Uber_trips_apr14)
df_may14 = pd.read_csv(Uber_trips_may14)
df_jun14 = pd.read_csv(Uber_trips_jun14)
df_jul14 = pd.read_csv(Uber_trips_jul14)
df_aug14 = pd.read_csv(Uber_trips_aug14)
df_sep14 = pd.read_csv(Uber_trips_sep14)

df_Weather = pd.read_csv(Weather_data)

In [8]:
# Concatenate all DataFrames into one
combined_df = pd.concat([df_apr14, df_may14, df_jun14, df_jul14, df_aug14, df_sep14], ignore_index=True)

combined_df.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [9]:
# Count the number of rows in combined_df
num_rows = len(combined_df)
print("Number of rows in combined_df:", num_rows)

Number of rows in combined_df: 4534327

In [10]:
# Check for missing data
missing_data = combined_df.isnull()

# Summarize missing data counts
missing_counts = missing_data.sum()

# Print or use missing_counts as needed
print("Missing data counts:")
print(missing_counts)

Missing data counts:
Date/Time    0
Lat          0
Lon          0
Base         0
dtype: int64

In [11]:
# Check for duplicates
duplicates = combined_df.duplicated()

# Count the number of duplicates
num_duplicates = duplicates.sum()

# Print or use num_duplicates as needed
print("Number of duplicate rows in combined_df:", num_duplicates)

Number of duplicate rows in combined_df: 82581

In [12]:
# Remove duplicates- check with others whether it's a correct approach
combined_df_cleaned = combined_df.drop_duplicates()

# Print the shape to see how many rows are left after removing duplicates
print("Shape of cleaned DataFrame:", combined_df_cleaned.shape)

Shape of cleaned DataFrame: (4451746, 4)

In [13]:
combined_df_cleaned.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [14]:
# Check for missing data
missing_data = df_Weather.isnull()

# Summarize missing data counts
missing_counts = missing_data.sum()

# Print or use missing_counts as needed
print("Missing data counts:")
print(missing_counts)

Missing data counts:
Date                0
Temperature _Max    0
Temperature _Min    0
Temperature _Ave    0
Temperature _Dep    0
HDD                 0
CDD                 0
Precipitation       0
New Snow            0
Snow Depth          0
dtype: int64

Merge both Uber and Weather data

In [15]:
# Print the first few rows to check the structure and column names
print("Uber Data:")
print(combined_df_cleaned.head())
print("\nWeather Data:")
print(df_Weather.head())

Uber Data:
          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

Weather Data:
       Date  Temperature _Max  Temperature _Min  Temperature _Ave  \
0  1/4/2014                60                39              49.5
1  2/4/2014                54                42              48.0
2  3/4/2014                67                46              56.5
3  4/4/2014                47                40              43.5
4  5/4/2014                54                40              47.0

   Temperature _Dep  HDD  CDD Precipitation New Snow  Snow Depth
0               1.4   15    0             0        0           0
1              -0.4   17    0             0        0           0
2               7.7    8    0          0.07        0           0
3              -5.7   21    0          0.21        0           0
4              -2.6   18    0             0        0           0

In [22]:


# Convert the datetime column in Uber data to datetime format using .loc
combined_df_cleaned.loc[:, 'Date/Time'] = pd.to_datetime(combined_df_cleaned['Date/Time'], format='%m/%d/%Y %H:%M:%S')

# Extract the date part from the datetime using .loc
combined_df_cleaned.loc[:, 'Date'] = combined_df_cleaned['Date/Time'].dt.date

# Convert the date column to datetime format using .loc
combined_df_cleaned.loc[:, 'Date'] = pd.to_datetime(combined_df_cleaned['Date'])

df_Weather['Date'] = pd.to_datetime(df_Weather['Date'], format='%d/%m/%Y')



# Merge the Uber data with the weather data on the date column
merged_data = pd.merge(combined_df_cleaned, df_Weather, on='Date', how='left')

#print(merged_data.head())
merged_data.head()

,Date/Time,Lat,Lon,Base,Date,Temperature _Max,Temperature _Min,Temperature _Ave,Temperature _Dep,HDD,CDD,Precipitation,New Snow,Snow Depth
0,2014-04-01 00:11:00,40.7690,-73.9549,B02512,2014-04-01,60,39,49.5,1.4,15,0,0,0,0
1,2014-04-01 00:17:00,40.7267,-74.0345,B02512,2014-04-01,60,39,49.5,1.4,15,0,0,0,0
2,2014-04-01 00:21:00,40.7316,-73.9873,B02512,2014-04-01,60,39,49.5,1.4,15,0,0,0,0
3,2014-04-01 00:28:00,40.7588,-73.9776,B02512,2014-04-01,60,39,49.5,1.4,15,0,0,0,0
4,2014-04-01 00:33:00,40.7594,-73.9722,B02512,2014-04-01,60,39,49.5,1.4,15,0,0,0,0

In [23]:
# Count the number of rows in combined_df
num_rows = len(merged_data)
print("Number of rows in merged_data:", num_rows)

Number of rows in merged_data: 4451746

Check some Analysis

In [24]:
# Ride counts - Group by date
daily_rides = merged_data.groupby('Date')['Base'].count()
print("Daily Rides:\n", daily_rides)

Daily Rides:
 Date
2014-04-01    14376
2014-04-02    17230
2014-04-03    20482
2014-04-04    26353
2014-04-05    19273
              ...
2014-09-26    36538
2014-09-27    38424
2014-09-28    28924
2014-09-29    28478
2014-09-30    32593
Name: Base, Length: 183, dtype: int64

In [25]:
# Resample data to weekly and count rides
weekly_rides = merged_data.resample('W', on='Date')['Base'].count().reset_index(name='weekly_ride_count')

# Print the weekly ride counts
print("Weekly Ride Counts:\n", weekly_rides)

Weekly Ride Counts:
          Date  weekly_ride_count
0  2014-04-06             110962
1  2014-04-13             121736
2  2014-04-20             114133
3  2014-04-27             136432
4  2014-05-04             156055
5  2014-05-11             147905
6  2014-05-18             154342
7  2014-05-25             139359
8  2014-06-01             133958
9  2014-06-08             150257
10 2014-06-15             164107
11 2014-06-22             150820
12 2014-06-29             154050
13 2014-07-06             122159
14 2014-07-13             175054
15 2014-07-20             193857
16 2014-07-27             195328
17 2014-08-03             196297
18 2014-08-10             189922
19 2014-08-17             185516
20 2014-08-24             182125
21 2014-08-31             173273
22 2014-09-07             227972
23 2014-09-14             242483
24 2014-09-21             243755
25 2014-09-28             228818
26 2014-10-05              61071